In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import os
PATH = '..'
os.chdir(PATH)

In [8]:
# Tickers collection
import pandas as pd
tickers = pd.read_csv('companylist.csv')['Symbol'].values.tolist()

In [13]:
import pandas as pd
from criteria.criteria_verifier import criteria_verifier

In [11]:
# Load data

end_date = pd.Timestamp('today')
df_temp, _ = load_data(['TXG'], '2021-03-05')
df_temp = df_temp['TXG']
df_temp.reset_index(inplace=True)
df_temp.tail()

NameError: name 'load_data' is not defined

In [16]:
res = pd.DataFrame(criteria_verifier(tickers[:10], end_date='2021-03-05'))

/Users/ramonamezquita/Desktop/Proyectos/Repos/pristine/my_venv/lib/python3.8/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'PIH', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/ramonamezquita/Desktop/Proyectos/Repos/pristine/my_venv/lib/python3.8/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'PIHPP', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [17]:
res

,40ma uptrend,20ma uptrend,contiguous desc high,contiguous red candles,pro volume,narrow body,symbol
0,1,0,1,0,1,1,TXG
1,1,1,1,1,1,0,YI
2,1,1,1,1,0,0,TURN
3,0,0,0,0,1,0,FLWS
4,1,1,0,0,1,0,BCOW
5,0,0,1,1,1,1,ONEM
6,1,1,0,0,1,0,FCCY
7,1,1,0,0,1,0,SRCE