In [16]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
PATH = '..'
os.chdir(PATH)

In [9]:
# Tickers collection

tickers = pd.read_csv('companylist.csv')['Symbol'].values.tolist()

In [10]:
import pandas as pd
from criteria.criteria_verifier import criteria_verifier

In [11]:
# Load data

end_date = pd.Timestamp('today')
df_temp, _ = load_data(['TXG'], '2021-03-05')
df_temp = df_temp['TXG']
df_temp.reset_index(inplace=True)
df_temp.tail()

Attributes,Date,Adj Close,Close,High,Low,Open,Volume
90,2021-03-01,186.750000,186.750000,187.110001,178.009995,179.380005,897500
91,2021-03-02,186.720001,186.720001,193.820007,185.570007,188.259995,904700
92,2021-03-03,173.210007,173.210007,187.397995,171.190002,185.360001,663300
93,2021-03-04,147.399994,147.399994,173.664993,146.380005,171.550003,1417800
94,2021-03-05,155.580002,155.580002,157.037994,140.845001,152.009995,1611800

In [15]:
pd.DataFrame(criteria_verifier(tickers[:5]))

/Users/ramonamezquita/Desktop/Proyectos/Repos/pristine/my_venv/lib/python3.8/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'PIH', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/Users/ramonamezquita/Desktop/Proyectos/Repos/pristine/my_venv/lib/python3.8/site-packages/pandas_datareader/base.py:270: SymbolWarning: Failed to read symbol: 'PIHPP', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

,40ma uptrend,20ma uptrend,contiguous desc high,contiguous red candles,pro volume,narrow body,symbol
0,0,0,0,0,0,1,TXG
1,1,0,0,0,0,1,YI
2,1,1,1,1,0,1,TURN